@import "tailwindcss";

:root {
  --font-poiret-one: 'Poiret One', sans-serif;
  --font-red-hat-text: 'Red Hat Text', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --theme-font-primary: var(--font-red-hat-text);
  --theme-font-secondary: var(--font-poiret-one);
  --theme-border-radius: 10px;
  --breakpoint-3xl: 1800px;

}

@theme {
  --bg-color: #f6ecec;
  --color-light: #fff9f3;
  --color-accent: #B2CD9C;
  --color-semi-dark: #a45832;
  --color-dark: #4B352A;
  --breakpoint-3xl: 1800px;

}

[data-theme="business"] {
  --bg-color: #f3f3f3;
  --color-light: #efefe8;
  --color-accent: #B2CD9C;
  --color-semi-dark: #807f7f;
  --color-dark: #383737;
  --theme-font-primary: var(--font-roboto);
  --theme-font-secondary: var(--font-red-hat-text);
  --theme-border-radius: 0px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--theme-font-primary);
  width: 100%;
  background-image: url('/icons-grid.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-primary {
  font-family: var(--theme-font-primary);
}

.font-secondary {
  font-family: var(--theme-font-secondary);
}

.sharpness {
  border-radius: var(--theme-border-radius);
  transition: all 0.1s ease-in-out;
}

.sharpness:hover {
  border-radius: var(--theme-border-radius);
}